<div class="login-container">
    <form [formGroup]="signUpForm">
      <div class="flex flex-column container">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput formControlName="username">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput [type]="hide() ? 'password' : 'text'" />
          <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()">
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <button mat-raised-button>Sign Up</button>
      </div>
    </form>
  
  </div>